body{
    background-color: #EEEEEE;
}


.companyName{
    color: #1089FF;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    margin-top: 30%;
    margin-left: 9.7rem;
    margin-bottom: 0;
    position: relative;
}

.companyLine{
    margin-top: 0rem;
    margin-left: 10rem;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    padding-top: .5rem;
    position: relative;
    line-height: 1;
}


/* loginbox part css */

.loginBox{
    padding-left: 7%;
    padding-right: 14%;
    margin-top: 10%;
}

#loginForm{
    padding: 10%;
}

.CNA-button{
    margin-left: 16%;
    margin-right: 10%;
}


/* footer */



#footer{
    padding: 5% 15% 0%;
    text-align: center;
}


.social-icon{
    margin: 20px 10px;
}