/* title */

#title{
    background-color: #1089ff;
}

.title-box{
    padding: 3% 5% 3% 10%; 
}

.title-tag{
    font-family: 'Montserrat', sans-serif; font-size: 2.5rem; line-height: 1.5; font-weight: 1000; color: white;
    font-weight: bold;
    color: white;
    padding-bottom: .5rem;
    margin-top: 20%;
    padding-right: 5rem;
}

.title-image{
    width: 60%;
    margin-bottom: auto;
    margin-left: 20%;
}
.download-button{
    margin-top: 2%;
}


/* features */

.feature-box{
    text-align: center;
    padding: 5%;
}



#features {
   padding: 0% 5%;
   position: relative;
   background-color: white;
}


.box-2{
    margin-left: 0%;
    margin-right: 0%;
}
 
h3{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 1.3rem;
    line-height: 1.5;
}
 
p{
    color: #8f8f8f;
}


.icon{
    color: #A2D5F2;
    margin-bottom: 1rem;
}

.icon:hover{       
        color: #1089ff;                       
}


/* navbar */

.navbar{
    padding-left: 10%;
    padding-right: 5%;
    background-color: #e5e5e5;
    padding-top: 0%;
    padding-bottom: 0%;
}

.nav-item{
    padding-left: 18px;
    padding-right: 18px;
}



/* cta */

#mtl{
    background-color: #1089ff;
    text-align: center;
    padding-bottom: 3%;
}

.mtl-heading{
    padding: 3rem 5rem 0rem;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Montserrat-Black', sans-serif; font-size: 2.5rem; line-height: 1.5; color: white;

}


/* footer */


#footer{
    margin-bottom: 0;
    padding: 0% 15%;
    padding-bottom: 3%;
    text-align: center;
    background-color: #e5e5e5;
}


.social-icon{
    margin: 20px 10px;
}




